body {
	background: #222930;
}
* {
	font-family: 'Bree Serif', serif;
}
.side-panel, .upper-panel{
	background: #222930;
	color: #4eb1ba;
}
.c {
	width: 100%;
	display: flex;
	background: #222930;
	/*position: fixed;*/
}
.side-panel{
	width: 350px;
	transition: 0.5s;
}
.content {
	transition: width 0.5s;
	width: 80%;
}
#map {
	height: 600px;
}
h2 {
	padding: 17px 0 0 10px;
}
.display-title{
	display: flex;
}
li {
	cursor: pointer;
}
i {						/*General styling for the icons*/
	margin-top: 12px;
	cursor: pointer;
}
.upper-panel {
	height: 76px;
}
.dropdown-toggle:empty::after {		/*drop down menu*/
	display: none;
}
.fa-bars {
	padding-left: 15px;
}
.side-panel-content {
	padding-top: 15px;
}
.weather-button {
	float: right;
	margin: 10px 40px 10px 10px;
}

@media screen and (max-width: 550px) {
	#wthr-btn {
		display: none;
		font-size: smaller;
		margin-top: 15px;
	}
	.side-panel {
		width: 235px;
	}
}

