/*color scheme
	background: #222930;
	color: #4EB1BA;
*/

*{
	font-family: 'Bree Serif', serif;
}
.side-panel, .upper-panel{
	background: #222930;
	color: #4EB1BA;
}
.c{
	width:100%;
	display:flex;
	background: #222930;
}
.side-panel{
	width: 350px;
	/*border: 1px solid #A99B9B;*/
	/*border-radius: 3px;*/
	transition: 0.5s;
/*	height: 100%;*/
}
.content{
	transition: width .5s;
	width:80%;
}
#map{
	height: 600px;
}
h2{
	padding-top:17px;
}
.display-title{
	display: flex;
}
li{
	cursor: pointer;
}
i{
	margin-top:12px;
	cursor: pointer;
}
.upper-panel{
	height:76px;
}
.dropdown-toggle:empty::after{
	display: none;
}
.fa-bars{
	padding-left: 15px;
}
.side-panel-content{
	padding-top: 15px;
}
.weather-button{
	float: right;
	margin: 10px 40px 10px 10px;
}