*{
	font-family: 'Bree Serif', serif;
}
.container-fluid{
	width:100%;
	display:flex;
}
.side-panel{
	width: 25%;
	/*background:#816969;*/
	border:1px solid #A99B9B;
	border-radius:3px;
	/*color:#fff;*/
}
.content{
	width:75%;
}
#map{
	height: 600px;
	/*width:75%;*/
}
h2{
	padding:10px;
}
.display-title{
	display: flex;
}
i{
	margin-top:15px;
	padding-left:45px;
}
.upper-panel{
	height:76px;
	background-color: white;
	border: 1px solid #A99B9B;
	border-radius:3px;
	/*width:75%;*/
}
/*.fa-bars{
	font-size: xx-large;
}*/